In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
data = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [3]:
data_frame = pd.DataFrame(data)

In [4]:
data_frame

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
data_frame.dropna(axis=1)

   C
0  1
1  2
2  3

In [9]:
data_frame.dropna()

     A    B  C
0  1.0  5.0  1

In [10]:
data_frame.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [15]:
data_frame.fillna(value=0)

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [18]:
data_frame['A'].fillna(value=data_frame['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64