In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
data = {'Company' : ['GOOG','GOOG','MSFT','MSFT','FB','FB'],
        'Person':['Rahul','Vishal','Sagar','Karan','Sharad','Sandeep'],
        'Sales':[300,100,150,200,220,180]}

In [3]:
data_frame = pd.DataFrame(data)

In [4]:
data_frame

  Company   Person  Sales
0    GOOG    Rahul    300
1    GOOG   Vishal    100
2    MSFT    Sagar    150
3    MSFT    Karan    200
4      FB   Sharad    220
5      FB  Sandeep    180

In [6]:
by_company = data_frame.groupby('Company')

In [8]:
by_company.sum()

                Person  Sales
Company
FB       SharadSandeep    400
GOOG       RahulVishal    400
MSFT        SagarKaran    350

In [12]:
by_company.sum().loc['FB']

Person    SharadSandeep
Sales               400
Name: FB, dtype: object

In [13]:
by_company.max()

         Person  Sales
Company
FB       Sharad    220
GOOG     Vishal    300
MSFT      Sagar    200

In [15]:
by_company.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   200.000000  200.000000  175.000000
      std     28.284271  141.421356   35.355339
      min    180.000000  100.000000  150.000000
      25%    190.000000  150.000000  162.500000
      50%    200.000000  200.000000  175.000000
      75%    210.000000  250.000000  187.500000
      max    220.000000  300.000000  200.000000