In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [8]:
outside = ['G1','G1','G1','G2','G2','G2',]
inside = [1,2,3,1,2,3]
hire_index = list(zip(outside,inside))
hire_index = pd.MultiIndex.from_tuples(hire_index)

In [9]:
hire_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
data_frame = pd.DataFrame(randn(6,2),hire_index,['A','B'])

In [11]:
data_frame

             A         B
G1 1  0.600081  0.378841
   2  1.831982 -0.585190
   3 -1.175568 -1.802779
G2 1 -2.936259  0.649001
   2  1.691847  0.162387
   3  0.843431  1.646262

In [12]:
data_frame.loc['G1']

          A         B
1  0.600081  0.378841
2  1.831982 -0.585190
3 -1.175568 -1.802779

In [15]:
data_frame.index.names = ['Groups','Numbers']

In [16]:
data_frame

                       A         B
Groups Numbers
G1     1        0.600081  0.378841
       2        1.831982 -0.585190
       3       -1.175568 -1.802779
G2     1       -2.936259  0.649001
       2        1.691847  0.162387
       3        0.843431  1.646262

In [20]:
data_frame.loc['G2'].loc[2]

A    1.691847
B    0.162387
Name: 2, dtype: float64

In [25]:
data_frame.xs('G1')

                A         B
Numbers
1        0.600081  0.378841
2        1.831982 -0.585190
3       -1.175568 -1.802779

In [29]:
data_frame.xs(1,level='Numbers')

               A         B
Groups
G1      0.600081  0.378841
G2     -2.936259  0.649001

In [31]:
data_frame

                       A         B
Groups Numbers
G1     1        0.600081  0.378841
       2        1.831982 -0.585190
       3       -1.175568 -1.802779
G2     1       -2.936259  0.649001
       2        1.691847  0.162387
       3        0.843431  1.646262