In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [8]:
data_frame = pd.DataFrame({
    'col1':[1,2,3,4],
    'col2':[111,333,333,444],
    'col3':['abc','def','ghi','jkl']
})
data_frame.head()

   col1  col2 col3
0     1   111  abc
1     2   333  def
2     3   333  ghi
3     4   444  jkl

In [9]:
data_frame['col2'].nunique()

3

In [10]:
data_frame['col2'].value_counts()

col2
333    2
111    1
444    1
Name: count, dtype: int64

In [12]:
data_frame[(data_frame['col1'] > 2) & (data_frame['col2'] == 444)]

   col1  col2 col3
3     4   444  jkl

In [14]:
def times2(x):
    return x*2

In [15]:
data_frame['col1'].sum()

10

In [16]:
data_frame['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [21]:
data_frame['col2'].apply(lambda x:x*2)

0    222
1    666
2    666
3    888
Name: col2, dtype: int64

In [23]:
data_frame.drop('col1',axis=1,inplace=True)

In [24]:
data_frame

   col2 col3
0   111  abc
1   333  def
2   333  ghi
3   444  jkl

In [25]:
data_frame.columns

Index(['col2', 'col3'], dtype='object')

In [26]:
data_frame.index

RangeIndex(start=0, stop=4, step=1)

In [30]:
data_frame.sort_values(by='col2')

   col2 col3
0   111  abc
1   333  def
2   333  ghi
3   444  jkl

In [31]:
data_frame.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [40]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [41]:
data

[                         Bank NameBank       CityCity StateSt  CertCert  \
 0             Heartland Tri-State Bank        Elkhart      KS     25851
 1                  First Republic Bank  San Francisco      CA     59017
 2                       Signature Bank       New York      NY     57053
 3                  Silicon Valley Bank    Santa Clara      CA     24735
 4                    Almena State Bank         Almena      KS     15426
 ..                                 ...            ...     ...       ...
 562                 Superior Bank, FSB       Hinsdale      IL     32646
 563                Malta National Bank          Malta      OH      6629
 564    First Alliance Bank & Trust Co.     Manchester      NH     34264
 565  National State Bank of Metropolis     Metropolis      IL      3815
 566                   Bank of Honolulu       Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                 Dream First Bank, N.A.       July 28, 2023     10544
 1              JPMorgan Chase Bank, N.A.         May 1, 2023     10543
 2                    Flagstar Bank, N.A.      March 12, 2023     10540
 3    Firstâ€“Citizens Bank & Trust Company      March 10, 2023     10539
 4                            Equity Bank    October 23, 2020     10538
 ..                                   ...                 ...       ...
 562                Superior Federal, FSB       July 27, 2001      6004
 563                    North Valley Bank         May 3, 2001      4648
 564  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 565              Banterra Bank of Marion   December 14, 2000      4646
 566                   Bank of the Orient    October 13, 2000      4645

 [567 rows x 7 columns]]

In [42]:
from sqlalchemy import create_engine

In [43]:
engine = create_engine('sqlite:///db.sqlite')

In [44]:
data_frame

   col2 col3
0   111  abc
1   333  def
2   333  ghi
3   444  jkl

In [46]:
data_frame.to_sql('my_table',engine)

ValueError: Table 'my_table' already exists.